@font-face {
  font-family: 'NewEdge666'; /* Define a name for your custom font */
  src: url('fonts/NewEdge666-Regular.woff2') format('opentype'), 
  /* can add additional fallback font formats here if needed */
}

body {
  text-align: left;
  font-size: 12px;
  font-family: NewEdge666, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;  
}

.header {
  text-align: left;
  font-size: 15px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

a, .link {
  color: black;
  text-decoration: none;
}

.link a:hover {
  text-decoration: none;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.flex-info {
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
}

#image:hover {
  cursor: pointer;
}

#label {
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  text-align: right;
}

#imprint {
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.footer{
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

/* Style for mobile devices */
@media only screen and (max-width: 1082px) {
  .flex-gallery {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    flex-shrink: 1;
  }
  
  #image {
    width: 100%;
    height: auto;
  }
  #label {
    padding-right: 20px;
  }
}

/* Style for desktop devices */
@media only screen and (min-width: 1083px) {
  .flex-container {
    height: calc(100vh - 112px);;
  }

  .flex-gallery {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
  }
  
  #image {
    height: calc(100vH - 151.5px);
    width: auto;
  }

  #label {
    padding-right: 0px;
  }
}



