@font-face {
  font-family: 'baptiste-regular'; /* Define a name for your custom font */
  src: url('fonts/Baptiste-Regular.otf') format('opentype'), 
  /* can add additional fallback font formats here if needed */
}

body {
  text-align: left;
  font-size: 12.5px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 5px 0px 0px 0px;
  padding: 0;  
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header1 {
  font-size: 15px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 35px;

}

.header1i {
  font-size: 15px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 35px;

}

.header2 {
  padding-top: 5px;
  padding-left: 35px;
  padding-right: 20px;
}

.header3 {
  padding-top: 5px;
  padding-left: 35px;
  padding-right: 20px;
}

a, .link {
  color: black;
  text-decoration: none;
  position: relative;
  z-index: 2; /* Ensure the text is on top of the image */
}

.link a:hover {
  text-decoration: none;
}

#info {
  padding: 40px 20px;

}

.flex-container {
  display: flex;
  padding-top: 15px;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.flex-info {
  padding-left: 20px;
  padding-bottom: 40px;
  padding-right: 20px;
}

#image:hover {
  cursor: pointer;
}

#label {
  margin-top: 5px;
  margin-right: 20px;
  margin-bottom: 15px;
  text-align: right;
}

#imprint {
  margin: 20px;
}

/* Styles for mobile devices */
@media only screen and (max-width: 1064px) {
  .flex-gallery {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    flex-shrink: 1;
  }
  
  #image {
    width: 100%;
    height: auto;
  }
}

/* Styles for desktop devices */
@media only screen and (min-width: 1065px) {
  .flex-container {
    height: calc(100vh - 37.5px);;
  }

  .flex-gallery {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
  }
  
  #image {
    height: calc(100vH - 81px);
    width: auto;
  }
}



