@font-face {
  font-family: 'baptiste-regular'; /* Define a name for your custom font */
  src: url('fonts/Baptiste-Regular.otf') format('opentype'), 
  /* can add additional fallback font formats here if needed */
}

body {
  text-align: left;
  font-size: 11px;
  font-family: "baptiste-regular", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

#random-image {
  position: absolute; /* Ensure the image is behind the text */
  cursor: url('favicon/favicon.png'), auto;
  display: none; /* Initially hide the image */
  z-index: 1; /* Ensure the image is behind the text */
  width: 340px; /* 340 x 510 */
  height: 510px;
}

#text {
  margin: 40px;
}

#infobutton {
  cursor: pointer;
  position: relative; /* Set position to allow z-index */
  z-index: 2; /* Ensure the text is on top of the image */
}

#infobutton:hover {
  color: rgb(95, 203, 115); /* Text color on hover */
}

a, .link a{
  color: black;
  text-decoration: none;
  position: relative;
  z-index: 2; /* Ensure the text is on top of the image */
}

.link a:hover {text-decoration: none;
  text-decoration: underline;
}

#info {
  position: relative; /* Set position to allow z-index */
  z-index: 2; /* Ensure the text is on top of the image */
}

#statement {
  margin: 40px;
}

